<div class="containter">
    <app-rank-set1 *ngIf="scene == 3" (gotRanking)=scene3($event)>
    </app-rank-set1>
    <app-rank-set2 *ngIf="scene == 5" (gotRanking)=scene5($event)>
    </app-rank-set2>
    <app-summary *ngIf="scene == 6"></app-summary>
    <div class="padding" *ngIf="scene == 1 || scene == 2 || scene == 4">
        <app-entering-form *ngIf="scene == 1" (gotCreds)=scene1($event)></app-entering-form>
        <app-values-set1 *ngIf="scene == 2" (openingEnded)=scene2($event)>
        </app-values-set1>
        <app-values-set2 *ngIf="scene == 4" (openingEnded)=scene4($event)>
        </app-values-set2>
    </div>
</div>