<div class="menu">
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/values-ranking']" [queryParams]="{ culture: 'jewish'}">
            Jewish
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/values-ranking']" [queryParams]="{ culture: 'christian'}">
            Christian
        </button>
    </div>
    <div class="button-box">
        <button mat-raised-button color="primary" [routerLink]="['/values-ranking']" [queryParams]="{ culture: 'druze'}">
            Druze
        </button>
    </div>
</div>